@import "responsive";

body{
    --background-image:  url("/dist/assets/mobile/bg-image-nighttime.jpg");
    --footer-bg-color: rgba(0, 0, 0, 0.4);
    --footer-font-color: #FFFFFF;

    @include tablet{
        --background-image:  url("/dist/assets/tablet/bg-image-nighttime.jpg");
    }

    @include desktop{
        --background-image:  url("/dist/assets/desktop/bg-image-nighttime.jpg");
    }
}

body[theme="day"] {
    --background-image:  url("/dist/assets/mobile/bg-image-daytime.jpg");
    --footer-bg-color: rgba(255, 255, 255, 0.4);
    --footer-font-color: #303030;

    @include tablet{
        --background-image:  url("/dist/assets/tablet/bg-image-daytime.jpg");
    }

    @include desktop{
        --background-image:  url("/dist/assets/desktop/bg-image-daytime.jpg");
    }
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}